---
http_interactions:
- request:
    method: post
    uri: https://www.google-analytics.com/mp/collect?api_secret=test_secret&measurement_id=G-TEST123
    body:
      encoding: UTF-8
      string: '{"client_id":"generated-client-id","events":[{"name":"test_event","params":{}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Last-Modified:
      - Sun, 17 May 1998 03:00:00 GMT
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 26 Nov 2025 22:10:09 GMT
recorded_with: VCR 6.3.1
