---
http_interactions:
- request:
    method: post
    uri: https://www.google-analytics.com/debug/mp/collect?api_secret=test_secret&measurement_id=G-TEST123
    body:
      encoding: UTF-8
      string: '{"client_id":"generated-client-id","events":[{"name":"test_event","params":{}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "validationMessages": [ ]
        }
  recorded_at: Wed, 26 Nov 2025 22:10:09 GMT
recorded_with: VCR 6.3.1
